@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: URL("https://img0.etsystatic.com/068/0/11119679/il_340x270.770718270_aucf.jpg");
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #AFBCCC;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #AFBCCC;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #AFBCCC;
	margin: 0px;
	float: left;
	width: 100%;
	height:  400px;
	text-align: center;
}
.footer {
	background: #AFBCCC;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}